.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

usuba.ml*
semantic_*.ml*

rapport/main.tex
rapport/rules.tex
*.bbl
*.bcf
*.blg
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.nav
*.pyg
*.synctex.gz
*.toc
*.vrb
